* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-color: black;
  --background-color: white;
  --light-link: lab(62.916 59.272 -1.587);
  --dark-link: lab(80.992 32.325 -7.103);
  --light-orange: #ffcc89;
  --dark-orange: #d8860b;
}

[data-theme="dark"] {
  --foreground-color: white;
  --background-color: black;
}
